api_key = "your_serverspace_api_key"

ssh_public_key = "ssh-ed25519 AAAA... ваш_публичный_ключ"

location     = "am2"
image_family = "Ubuntu-20.04-X64"

control_plane_name = "k8s-control-plane-1"
control_plane_cpu  = 2
control_plane_ram  = 4096
control_plane_disk = 60

apps_name = "k8s-apps-1"
apps_cpu  = 2
apps_ram  = 8192
apps_disk = 80

postgres_name = "postgres-1"
postgres_cpu  = 2
postgres_ram  = 8192
postgres_disk = 120

gitlab_name = "gitlab-1"
gitlab_cpu  = 4
gitlab_ram  = 8192
gitlab_disk = 120